/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

hr { 
    margin: $spacing-unit 0; 
    border: 2px solid lighten($background-color, 10%);
}

.post-content h2 {
    color: $brand-color;
}

/**
 * Basic styling
 */

html, body {
    height:100%;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
#sticky-footer-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
}

body#index { 
    background-color:$background-color; 
    border-top: 5px solid $brand-color;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1#index-title { 
    font-size: 4.2em;
    color: WhiteSmoke; 
    font-family: $name-font-family;
    margin-bottom: 0;
}

#to-top { 
    padding: 10px 20px; 
    background-color: $background-color;
    color: $brand-color; 
    border-bottom: 1px solid $brand-color;
    position:fixed;
    width: 100%;
    top:-50px; 
    text-align: center;
    z-index: 1000;
    transition: top .4s ease;
    &:hover {
        background-color: lighten($background-color, 15%);
    }
}
#to-top.down { top:0; transition: top .4s ease; }

/**
 * Images
 */
img {
    width: 100%;
    vertical-align: middle;
    border: 1px solid darken($background-color, 5%);
}
#index-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}
#index-logo:hover {
    background-color: lighten($background-color, 15%);
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 5px;
    background-color: lighten($background-color, 10%);
}

code {
    padding: 2px 5px;
    color: $brand-color;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Table
 */
table {
    width: 100%;
    border-collapse: collapse;
}
td , th {
    padding: 10px;
}
th {
    border-bottom: 1px solid $brand-color;
    font-weight: bold;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
@media(max-width:575px) {
   a.page-link {
     display: block;
     margin-bottom: 10px;
   }
 }